body {
    background-color: #fdf2f8;
    color: #333;
    margin: 0;
    padding: 0;
    }
    header {
    background-color: #4e70f6;
    color: white;
    padding: 30px 15px;
    text-align: center;
    }
    
    a {
    color: #3c3a3b;
    text-decoration: none;
    font-weight: bold;
    }
    a:hover {
    text-decoration: underline;
    }
    section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    text-align: left;
    }
    nav {
    text-align: center;
    margin: 30px 0;
    }
    .botao {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 18px;
    background-color:cadetblue;
    color: white;
    border-radius: 8px;
    }
    .botao:hover {
    background-color: #757073;
    }
    footer {
    background-color: #4e70f6;
    color: white;
    text-align: center;
    padding: 15px;
    }